{% extends "base.html" %}

{% block content %}
    <h2>Список столиков</h2>
    <a href="{% url 'add_table' %}" class="btn btn-primary mb-3">Добавить столик</a>
    <ul class="list-group">
        {% for table in tables %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Столик №{{ table.number }} | Мест: {{ table.seats }} | 
                {% if table.is_available %}Свободен{% else %}Занят{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
