{% extends 'base.html' %}

{% block title %}Добавить бронь{% endblock %}

{% block content %}
<h2>Добавить бронь</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.customer.id_for_label }}" class="form-label">Клиент:</label>
        {{ form.customer }}
    </div>

    <div class="mb-3">
        <label for="{{ form.table.id_for_label }}" class="form-label">Столик:</label>
        {{ form.table }}
    </div>

    <div class="mb-3">
        <label for="{{ form.date.id_for_label }}" class="form-label">Дата бронирования:</label>
        {{ form.date|safe }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("#{{ form.date.id_for_label }}").style.width = "200px";
    });
</script>

    </div>

    <div class="mb-3">
        <label for="{{ form.status.id_for_label }}" class="form-label">Статус:</label>
        {{ form.status }}
    </div>

    <button type="submit" class="btn btn-success">Забронировать</button>
</form>

{% endblock %}
